<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{pageTitle}}</title>
	</head>
	<body>
		{{> header}}
		<p>Matrimonial websites are crappy, build a new one</p>
		<p>{{name}}</p>
		<p>{{city}}</p>
		{{> footer}}
	</body>
</html>